<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nom complet</th>
                    <th>Heureux ?</th>
                    <th>Hobbies</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <user-table *ngFor="let user of users;" [item]="user" (remove)="handleRemove($event)" (edit)="handleEdit($event)"></user-table>
            </tbody>
        </table>
    </div>
    <div class="row">
        <user-count [items]="users"></user-count>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <pre>{{users | json}}</pre>
    </div>
</div>